body {
    background: url(../img/bg/bgStars-480.png) top center #000;

    @media (min-width: $screen-tablet-min) {
        background-image: url(../img/bg/bgStars-768.png);
    }

    @media (min-width: $screen-desktop-min) {
        background-image: url(../img/bg/bgStars-1200.png);
    }

    @media (min-width: $screen-monitor-min) {
        background-image: url(../img/bg/bgStars-1600.png);
    }

    &:after {
        top: 0;
        left: 0;
        background: url(../img/bg/flashes.png) top center;
        position: fixed;
        width: 100%;
        height: 100%;
        display: block;
        z-index: -1;
        animation: flashes 200s linear infinite;
        content: "";
    }
}

@keyframes flashes {
    from {
        background-position: 0 0
    }

    to {
        background-position: -10000px 5000px
    }
}
