.loadingOverlay {
    @extend %overlay;
}

.loadingAnimation {
    path {
        stroke: #FFF;
        stroke-width: 1px;
        stroke-dasharray: 244;
        animation: logoAnimateDraw 1000ms linear infinite;
    }
}

.loading-img {
    display: block;
    margin: auto;
    width: 260px;
    height: 260px;
}

// ANIMATION
@keyframes logoAnimateDraw {
    0% {
        fill-opacity: 0;
        stroke-dashoffset: 244;
    }
    70% {
        fill-opacity: 0;
        stroke: #FFF;
    }
    100% {
        fill-opacity: 1;
        stroke-dashoffset: 0;
        stroke: none;
    }
}
